/*.underligne {
  &::after {
    content: "";
    position: relative;
    width: 0;
    height: 0.2rem;
    display: block;
    margin-top: 1px;
    right: 0;
    background: black;
    transition: all 700ms ease-in-out;
  }
  &:hover:after {
    width: 100%;
    left: 0;
    background: black;
  }*/
body {
  color: #404040;
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat", sans-serif;
}

.menu.menu--1 {
  font-family: "Overlock", sans-serif;
}

.menu.menu--1 h3,
.menu.menu--1 h4 {
  font-family: "Devonshire", sans-serif;
}

.card.card--1 .title {
  font-family: "Devonshire", sans-serif;
}

.card.card--1 p {
  font-family: "Overlock", sans-serif;
}

.menu.menu--2 {
  font-family: "Cherry swash", sans-serif;
}

.menu.menu--2 h3 {
  font-family: "Montez", sans-serif;
}

.card.card--2 .title {
  font-family: "Montez", sans-serif;
}

.card.card--2 p {
  font-family: "Cherry swash", sans-serif;
}

.menu.menu--3 {
  font-family: "Short Stack", sans-serif;
}

.menu.menu--3 h3 {
  font-family: "Dancing Script", sans-serif;
}

.card.card--3 .title {
  font-family: "Dancing Script", sans-serif;
}

.card.card--3 p {
  font-family: "Short Stack", sans-serif;
}

.menu.menu--4 {
  font-family: "Short Stack", sans-serif;
}

.menu.menu--4 h3 {
  font-family: "Courgette", sans-serif;
}

.card.card--4 .title {
  font-family: "Courgette", sans-serif;
}

.card.card--4 p {
  font-family: "Short Stack", sans-serif;
}

.card .card__content--in {
  visibility: hidden;
}

.card:hover .card__content--out {
  -webkit-animation: fadeout 2s forwards;
          animation: fadeout 2s forwards;
}

.card:hover .card__content--in {
  visibility: visible;
  -webkit-animation: fadein 2s 300ms backwards cubic-bezier(0.77, 0.02, 0.24, 0.96);
          animation: fadein 2s 300ms backwards cubic-bezier(0.77, 0.02, 0.24, 0.96);
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.next__heading .next__dot {
  visibility: hidden;
  display: inline;
}

.next__heading:hover .next__dot {
  visibility: visible;
  -webkit-animation: dots ease-in-out 900ms infinite backwards;
          animation: dots ease-in-out 900ms infinite backwards;
}

.next__heading:hover .next__dot--1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.next__heading:hover .next__dot--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.next__heading:hover .next__dot--3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

@-webkit-keyframes dots {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.footer__btn:hover {
  -webkit-animation: wiggle 200ms linear 3 both;
          animation: wiggle 200ms linear 3 both;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #569C87;
  width: 100%;
  height: 15em;
  -webkit-box-shadow: 0 0.1em 0.5em #A1C181;
          box-shadow: 0 0.1em 0.5em #A1C181;
}

.header__heading {
  color: #FCCA46;
  font-size: 6em;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 30% 40% 30%;
      grid-template: 1fr 1fr 1fr/30% 40% 30%;
  height: 7em;
  width: 100%;
  background-color: #569C87;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 -0.1em 0.5em #A1C181;
          box-shadow: 0 -0.1em 0.5em #A1C181;
}

.footer__btn {
  color: #FDCB46;
  text-decoration: none;
  font-size: 2.2em;
}

.footer__btn--mentions {
  padding-left: 2em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__btn--contact {
  padding-right: 2em;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12em;
}

.page__heading {
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6em 38em 5em 38em 5em;
  -ms-grid-columns: 8% 38% 8% 38% 8%;
      grid-template: 6em 38em 5em 38em 5em / 8% 38% 8% 38% 8%;
}

.grid .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
}

.grid .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.grid .card__content--out {
  font-size: 1.6rem;
}

.grid .card__content--out .title {
  font-size: 1.7rem;
}

.grid .card__content--in {
  font-size: 2.88rem;
}

.grid .card__content--in .title {
  font-size: 3.06rem;
}

.grid .card--1 {
  background-color: #FCDFDB;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.grid .card--2 {
  background-color: #FFF5FE;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.grid .card--3 {
  background-color: #F9F9F9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.grid .card--4 {
  background-color: #FDFFFD;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10em;
}

.next__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  color: #FDCB46;
  background-color: #569C87;
  -webkit-box-shadow: 0.01em 0.01em 0.01em 0.01em #A1C181;
          box-shadow: 0.01em 0.01em 0.01em 0.01em #A1C181;
  border-radius: 1.5rem;
  width: 10em;
  height: 1.8em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 5rem 5rem 5rem;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
  max-width: 85%;
}

.menu__heading {
  font-size: 3.2em;
  margin-bottom: 0;
}

.menu h3 {
  margin: 0;
  text-align: center;
}

.menu label {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
  font-size: 2em;
  clear: both;
}

.menu .underligne {
  background: linear-gradient(to top, black 0%, black 0.1rem, transparent 1px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.menu .underligne:hover {
  background-size: 100% 100%;
}

.menu__text {
  font-size: 1.5em;
}

.menu .price {
  float: right;
  font-weight: bold;
  padding-left: 2em;
}

.menu.menu--1 {
  background-color: #FCDFDB;
}

.menu.menu--1 .fa--top {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
}

.menu.menu--1 .fa--bottom {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
}

h4 {
  margin-top: 0;
  text-align: center;
  font-size: 2em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 5rem 5rem 5rem;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
  max-width: 85%;
}

.menu__heading {
  font-size: 3.2em;
  margin-bottom: 0;
}

.menu h3 {
  margin: 0;
  text-align: center;
}

.menu label {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
  font-size: 2em;
  clear: both;
}

.menu .underligne {
  background: linear-gradient(to top, black 0%, black 0.1rem, transparent 1px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.menu .underligne:hover {
  background-size: 100% 100%;
}

.menu__text {
  font-size: 1.5em;
}

.menu .price {
  float: right;
  font-weight: bold;
  padding-left: 2em;
}

.menu.menu--2 {
  background-color: #FFF5FE;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 5rem 5rem 5rem;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
  max-width: 85%;
}

.menu__heading {
  font-size: 3.2em;
  margin-bottom: 0;
}

.menu h3 {
  margin: 0;
  text-align: center;
}

.menu label {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
  font-size: 2em;
  clear: both;
}

.menu .underligne {
  background: linear-gradient(to top, black 0%, black 0.1rem, transparent 1px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.menu .underligne:hover {
  background-size: 100% 100%;
}

.menu__text {
  font-size: 1.5em;
}

.menu .price {
  float: right;
  font-weight: bold;
  padding-left: 2em;
}

.menu.menu--3 {
  background-color: #F9F9F9;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 5rem 5rem 5rem;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
  max-width: 85%;
}

.menu__heading {
  font-size: 3.2em;
  margin-bottom: 0;
}

.menu h3 {
  margin: 0;
  text-align: center;
}

.menu label {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
  font-size: 2em;
  clear: both;
}

.menu .underligne {
  background: linear-gradient(to top, black 0%, black 0.1rem, transparent 1px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
}

.menu .underligne:hover {
  background-size: 100% 100%;
}

.menu__text {
  font-size: 1.5em;
}

.menu .price {
  float: right;
  font-weight: bold;
  padding-left: 2em;
}

.menu.menu--4 {
  background-color: #FDFFFD;
}
/*# sourceMappingURL=main.css.map */