body {
  color: #404040d5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "montserrat", sans-serif;
}

.menu.menu--1 {
  font-family: "Overlock", sans-serif;
}

.menu.menu--1 h3,
.menu.menu--1 h4 {
  font-family: "Devonshire", sans-serif;
}

.card.card--1 .card__heading {
  font-family: "Devonshire", sans-serif;
}

.card.card--1 p {
  font-family: "Overlock", sans-serif;
}

.menu.menu--2 {
  font-family: "Cherry swash", sans-serif;
}

.menu.menu--2 h3 {
  font-family: "Montez", sans-serif;
}

.card.card--2 .card__heading {
  font-family: "Montez", sans-serif;
}

.card.card--2 p {
  font-family: "Cherry swash", sans-serif;
}

.menu.menu--3 {
  font-family: "Short Stack", sans-serif;
}

.menu.menu--3 h3 {
  font-family: "Dancing Script", sans-serif;
}

.card.card--3 .card__heading {
  font-family: "Dancing Script", sans-serif;
}

.card.card--3 p {
  font-family: "Short Stack", sans-serif;
}

.menu.menu--4 {
  font-family: "Short Stack", sans-serif;
}

.menu.menu--4 h3 {
  font-family: "Courgette", sans-serif;
}

.card.card--4 .card__heading {
  font-family: "Courgette", sans-serif;
}

.card.card--4 p {
  font-family: "Short Stack", sans-serif;
}

.card--1 .card__content {
  opacity: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.card--2 .card__content {
  opacity: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.card--3 .card__content {
  opacity: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.card--4 .card__content {
  opacity: 0.6;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.card:hover .card__content {
  opacity: 1;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (min-width: 1023px) {
  .card:hover .card__content {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 1;
  }
}

@media (min-width: 490px) and (max-width: 768px) {
  .card:hover .card__content {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 1;
  }
}

@media (max-width: 490px) {
  .card:hover .card__content {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

.next__heading .next__dot {
  visibility: hidden;
}

.next__heading:hover .next__dot {
  visibility: visible;
  -webkit-animation: dots ease-in-out 900ms infinite backwards;
          animation: dots ease-in-out 900ms infinite backwards;
}

.next__heading:hover .next__dot--1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.next__heading:hover .next__dot--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.next__heading:hover .next__dot--3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

@-webkit-keyframes dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer__btn:hover {
  -webkit-animation: wiggle 200ms linear 3;
          animation: wiggle 200ms linear 3;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #569C87;
  width: 100%;
  height: 13rem;
  -webkit-box-shadow: 0 0.1em 0.5em #A1C181;
          box-shadow: 0 0.1em 0.5em #A1C181;
}

.header__heading {
  color: #FCCA46;
  font-size: 6em;
}

@media (min-width: 490px) and (max-width: 768px) {
  .header {
    height: 11em;
  }
  .header__heading {
    font-size: 4.28571em;
  }
}

@media (max-width: 490px) {
  .header {
    height: 8rem;
  }
  .header__heading {
    font-size: 3em;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 47.5% 5% 47.5%;
      grid-template: 1fr 1fr 1fr/47.5% 5% 47.5%;
  height: 7em;
  width: 100%;
  background-color: #569C87;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 -0.1em 0.5em #A1C181;
          box-shadow: 0 -0.1em 0.5em #A1C181;
  z-index: 2;
}

.footer__btn {
  color: #FDCB46;
  text-decoration: none;
  font-size: 2.2em;
}

.footer__btn--mentions {
  padding-left: 2em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__btn--contact {
  text-align: right;
  padding-right: 2em;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 490px) {
  .footer {
    -ms-grid-rows: 1fr 2fr 2fr 2fr 1fr;
    -ms-grid-columns: 10% 80% 10%;
        grid-template: 1fr 2fr 2fr 2fr 1fr/10% 80% 10%;
    position: initial;
  }
  .footer__btn {
    font-size: 1.69231em;
  }
  .footer__btn--mentions {
    padding-left: 0;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer__btn--contact {
    padding-right: 0;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 12rem;
}

.page__heading {
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.menu {
  overflow-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 5rem 5rem 5rem;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
  width: 70%;
}

.menu__heading {
  overflow-wrap: normal;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.menu__text {
  font-size: 1.5rem;
}

.menu .menu__content h3 {
  margin: 0;
}

.menu .menu__content .break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.menu .menu__content .text-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu .menu__content .price {
  display: inline;
  font-weight: bold;
  padding-left: 2rem;
  overflow-wrap: normal;
}

.menu .menu__content p {
  width: 90%;
  margin-top: 0;
  margin-bottom: 2rem;
}

@media (min-width: 490px) and (max-width: 768px) {
  .menu p {
    margin-bottom: 4rem;
  }
}

@media (max-width: 490px) {
  .menu {
    padding: 2rem 2rem 2rem 2rem;
  }
  .menu p {
    margin-bottom: 3rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem 38rem 5rem 38rem 5rem;
  -ms-grid-columns: 8% 38% 8% 38% 8%;
      grid-template: 5rem 38rem 5rem 38rem 5rem / 8% 38% 8% 38% 8%;
}

.grid .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
}

.grid .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 1.6rem;
}

.grid .card__heading {
  font-size: 1.7rem;
}

.grid .card--1 {
  background-color: #FCDFDB;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.grid .card--1 i {
  background: -webkit-gradient(linear, left top, right top, color-stop(13%, #dd512e), color-stop(56%, #fb955e), color-stop(98%, #feccb1));
  background: linear-gradient(90deg, #dd512e 13%, #fb955e 56%, #feccb1 98%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--1 .card__heading,
.grid .card--1 p {
  background: rgba(0, 0, 0, 0.8);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--2 {
  background-color: #FFF5FE;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.grid .card--2 .card__heading {
  background: #bb5e00;
  background: linear-gradient(162deg, #bb5e00 34%, #7c00ff 70%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--2 p {
  background-color: #bb5e00;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--3 {
  background-color: #F9F9F9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.grid .card--3 .card__heading {
  background: #0028a6;
  background: linear-gradient(152deg, rgba(0, 39, 166, 0.945) 42%, rgba(60, 164, 228, 0.979) 73%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--3 p {
  background-color: #2176e6f8;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--4 {
  background-color: #FDFFFD;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.grid .card--4 .card__heading {
  background: #0d9100;
  background: linear-gradient(135deg, rgba(13, 145, 0, 0.815586) 35%, rgba(33, 195, 14, 0.339395) 70%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.grid .card--4 p {
  background-color: #2ba120c2;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.next__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  color: #FDCB46;
  background-color: #569C87;
  -webkit-box-shadow: 0.01em 0.01em 0.01em 0.01em #A1C181;
          box-shadow: 0.01em 0.01em 0.01em 0.01em #A1C181;
  border-radius: 1.5rem;
  width: 10em;
  height: 1.8em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

@media (min-width: 490px) and (max-width: 768px) {
  .grid {
    -ms-grid-rows: 5rem 36rem 5rem 36rem 5rem 36rem 5rem 36rem 5rem;
    -ms-grid-columns: 10% 80% 10%;
        grid-template: 5rem 36rem 5rem 36rem 5rem 36rem 5rem 36rem 5rem/ 10% 80% 10%;
  }
  .grid .card--1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .grid .card--2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .grid .card--3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .grid .card--4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .next {
    margin-bottom: 8rem;
  }
  .next__heading {
    font-size: 2.22222em;
  }
}

@media (max-width: 490px) {
  .grid {
    -ms-grid-rows: 5rem 28rem 5rem 28rem 5rem 28rem 5rem 28rem 5rem;
    -ms-grid-columns: 5% 90% 5%;
        grid-template: 5rem 28rem 5rem 28rem 5rem 28rem 5rem 28rem 5rem/ 5% 90% 5%;
  }
  .grid .card--1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .grid .card--2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .grid .card--3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .grid .card--4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .next {
    margin-bottom: 0;
  }
  .next__heading {
    margin-top: 0;
    font-size: 1.81818em;
  }
}

.menu--1 {
  background-color: #FCDFDB;
}

.menu--1 .fa--top {
  text-align: center;
  font-size: 6rem;
  margin-top: 0.5rem;
}

.menu--1 .fa--bottom {
  text-align: center;
  font-size: 3rem;
}

.menu--1 .underline {
  background: linear-gradient(to top, rgba(40, 40, 40, 0.8) 0%, rgba(40, 40, 40, 0.8) 0.1rem, transparent 2px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
  transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
}

.menu--1 .underline:hover {
  background-size: 100% 100%;
}

.menu--1 .break--1::before {
  border-top: 0.5rem solid;
  color: #404040d5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5rem 0 0;
}

.menu--1 .break--1::after {
  border-top: 0.5rem solid;
  color: #404040d5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 5rem;
}

.menu--1 .break--2::before {
  border-top: 0.5rem solid;
  color: #404040d5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 3rem 0 0;
}

.menu--1 .break--2::after {
  border-top: 0.5rem solid;
  color: #404040d5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 3rem;
}

.menu--1 .break--3::before {
  border-top: 0.5rem solid;
  color: #404040d5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem 0 0;
}

.menu--1 .break--3::after {
  border-top: 0.5rem solid;
  color: #404040d5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 1rem;
}

.menu--1 i {
  background: -webkit-gradient(linear, left top, right top, color-stop(13%, #dd512e), color-stop(56%, #fb955e), color-stop(98%, #feccb1));
  background: linear-gradient(90deg, #dd512e 13%, #fb955e 56%, #feccb1 98%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.5rem;
  text-align: center;
  font-size: 3em;
}

.menu--2 {
  background-color: #FFF5FE;
}

.menu--2 .menu__heading {
  font-size: 3.9rem;
  background: linear-gradient(162deg, rgba(187, 93, 0, 0.671) 34%, rgba(35, 0, 161, 0.568) 70%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu--2 .underline {
  background: linear-gradient(to top, rgba(187, 93, 0, 0.671) 0%, rgba(35, 0, 161, 0.568) 0.1rem, transparent 2px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
  transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
}

.menu--2 .underline:hover {
  background-size: 100% 100%;
}

.menu--2 .menu__content {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34%, rgba(187, 93, 0, 0.671)), color-stop(70%, rgba(35, 0, 161, 0.568)));
  background: linear-gradient(180deg, rgba(187, 93, 0, 0.671) 34%, rgba(35, 0, 161, 0.568) 70%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu--2 .break--1::before {
  border-top: 0.5rem solid;
  color: #D29054;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem 0 0;
}

.menu--2 .break--1::after {
  border-top: 0.5rem solid;
  color: #D29054;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 1rem;
}

.menu--2 .break--2::before {
  border-top: 0.5rem solid;
  color: #BF866F;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5rem 0 0;
}

.menu--2 .break--2::after {
  border-top: 0.5rem solid;
  color: #BF866F;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 5rem;
}

.menu--2 .break--3::before {
  border-top: 0.5rem solid;
  color: #826ACA;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 3rem 0 0;
}

.menu--2 .break--3::after {
  border-top: 0.5rem solid;
  color: #826ACA;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 3rem;
}

.menu--3 {
  background-color: #F9F9F9;
}

.menu--3 .menu__heading {
  font-size: 5.1rem;
  font-weight: normal;
  background: #0028a6;
  background: linear-gradient(152deg, rgba(0, 39, 166, 0.945) 32%, rgba(60, 164, 228, 0.979) 73%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu--3 .underline {
  background: linear-gradient(to top, rgba(0, 39, 166, 0.945) 0%, rgba(60, 164, 228, 0.979) 0.1rem, transparent 2px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
  transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
}

.menu--3 .underline:hover {
  background-size: 100% 100%;
}

.menu--3 .menu__text,
.menu--3 .price, .menu--3 .underline {
  color: #404040d5;
}

.menu--3 .break--1::before {
  border-top: 0.5rem solid;
  color: #0E33AB;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2rem 0 0;
}

.menu--3 .break--1::after {
  border-top: 0.5rem solid;
  color: #0E33AB;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 2rem;
}

.menu--3 .break--2::before {
  border-top: 0.5rem solid;
  color: #276BC7;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2rem 0 0;
}

.menu--3 .break--2::after {
  border-top: 0.5rem solid;
  color: #276BC7;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 2rem;
}

.menu--3 .break--3::before {
  border-top: 0.5rem solid;
  color: #40A6E5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2rem 0 0;
}

.menu--3 .break--3::after {
  border-top: 0.5rem solid;
  color: #40A6E5;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 2rem;
}

.menu--4 {
  background-color: #FDFFFD;
}

.menu--4 .menu__heading {
  font-size: 4.5rem;
  font-weight: normal;
  background: #0d9100;
  background: linear-gradient(135deg, rgba(13, 145, 0, 0.815586) 35%, rgba(33, 195, 14, 0.339395) 70%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu--4 .underline {
  background: linear-gradient(to top, rgba(13, 145, 0, 0.815586) 0%, rgba(33, 195, 14, 0.339395) 0.1rem, transparent 2px) no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
  transition: background-size 400ms cubic-bezier(0.5, 0.02, 0.04, 0.98);
}

.menu--4 .underline:hover {
  background-size: 100% 100%;
}

.menu--4 .menu__text,
.menu--4 .price, .menu--4 .underline {
  color: #404040d5;
}

.menu--4 .break--1::before {
  border-top: 0.5rem solid;
  content: "";
  color: #39A52F;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5rem 0 0;
}

.menu--4 .break--1::after {
  border-top: 0.5rem solid;
  color: #39A52F;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 5rem;
}

.menu--4 .break--2::before {
  border-top: 0.5rem solid;
  color: #82CF7A;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2rem 0 0;
}

.menu--4 .break--2::after {
  border-top: 0.5rem solid;
  color: #82CF7A;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 2rem;
}

.menu--4 .break--3::before {
  border-top: 0.5rem solid;
  color: #82CF7A;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2rem 0 0;
}

.menu--4 .break--3::after {
  border-top: 0.5rem solid;
  color: #82CF7A;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 2rem;
}
/*# sourceMappingURL=main.css.map */