//Animation Carte des menus, accueil

.card {
  .card__content--in {
    visibility: hidden;
  }
  &:hover {
    .card__content--out {
      animation: fadeout 2s forwards;
    }
    .card__content--in {
      visibility: visible;
      animation: fadein 2s 300ms backwards cubic-bezier(.77,.02,.24,.96);
      
    }
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Animation bouton prochainement

.next {
  &__heading {
    .next__dot {
      visibility: hidden;
      display: inline;
    }
    &:hover {
      .next__dot {
        visibility: visible;
        animation: dots ease-in-out 900ms infinite backwards;
        @for $i from 1 through 3 {
          &--#{$i} {
            animation-delay: 300ms * $i;
          }
        }
      }
    }
  }
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

// Animations Wiggle pieds de page

.footer {
  &__btn {
    &:hover {
      animation: wiggle 200ms linear 3 both;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
