//Standard page de menu

@mixin page-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
}

//Standard titre de menu

@mixin page-heading-format {
  font-size: $size-typo-heading-page;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

//Standard menu

@mixin menu-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 5rem 5rem 5rem;
  box-shadow: 0.1em 0.1em 1em 0.5em rgba(0, 0, 0, 0.1);
  width: 70%;
  &__heading {
    text-align: center;
    font-size: $size-typo-heading-menu;
    margin-bottom: 0;
    margin-top: 0;
  }
  &__text {
    font-size: $size-typo-text-menu;
  }
  .menu__content {
    h3 {
      margin: 0;
    }
    b {
      display: block;
      text-align: center;
      padding-top: 2.5em;
      padding-bottom: 0.5em;
      font-size: $size-typo-label;
      clear: both;
    }
    .underline {
      background: linear-gradient(
          to top,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 0.1rem,
          transparent 1px
        )
        no-repeat;
      background-size: 0% 100%;
      transition: background-size 400ms cubic-bezier(.5,.02,.04,.98);
      &:hover {
        background-size: 100% 100%;
      }
    }
    .text-line {
      display: flex;
      flex-direction: row;
    }
    .price {
      width: 10%;
      display: inline;
      font-weight: bold;
      padding-left: 2em;
      overflow-wrap: normal;
    }
    p {
      width: 90%;
      margin-top: 0;
    }
  }
  @include tablette-only {
    p {
      margin-bottom: 4rem;
    }
  }
  @include mobile-only {
    p {
      margin-bottom: 3rem;
    }
  }
}

//Intégration dégradé au texte

@mixin gradient-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

//Responsive Tablette

@mixin tablette-only {
  @media (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    @content;
  }
}

//Responsive Mobile

@mixin mobile-only {
  @media (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
