//Intégration dégradé au texte

@mixin gradient-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

//Responsive écran large

@mixin screen-only {
  @media (min-width: map-get($breakpoints, screen)) {
    @content;
  }
}

//Responsive Tablette

@mixin tablette-only {
  @media (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
    @content;
  }
}

//Responsive Mobile

@mixin mobile-only {
  @media (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
