// Variables

//Couleurs

$color-primary: #569C87;
$color-typo-header: #FCCA46;
$color-typo: #FDCB46;
$color-menu-1: #FCDFDB;
$color-menu-2: #FFF5FE;
$color-menu-3: #F9F9F9;
$color-menu-4: #FDFFFD;

$size-typo-header: 10rem;
$size-typo-next: 4rem;
$size-typo-footer: 2.2rem;