// Pieds de page

.footer {
  display: grid;
  grid-template: 1fr 1fr 1fr/30% 40% 30%;
  height: 7em;
  width: 100%;
  background-color: $color-primary;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -0.1em 0.5em $color-border;
  &__btn {
    color: $color-typo;
    text-decoration: none;
    font-size: $size-typo-footer;
    &--mentions {
      padding-left: 2em;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &--contact {
      padding-right: 2em;
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
}
