.menu {
    @include menu-format;
    &.menu--2 {
      background-color: $color-menu-2;
      font-family: 'Cherry swash', sans-serif;
      h3 {
        font-family: 'Montez', sans-serif;
      }
    }
  }