.menu {
  @include menu-format;
  &.menu--1 {
    background-color: $color-menu-1;
    .fa--top {
      text-align: center;
      font-size: 6rem;
      margin-top: 0.5rem;
    }
    .fa--bottom {
      text-align: center;
      font-size: 3rem;
    }
    i {
      background: linear-gradient(
        90deg,
        rgba(221, 81, 46, 1) 13%,
        rgba(251, 149, 94, 1) 56%,
        rgba(254, 204, 177, 1) 98%
      );
      @include gradient-text;
  }
}
}

.menu__foot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.5rem;
  text-align: center;
  font-size: 3em;
}
