.menu {
  @include menu-format;
  &.menu--1 {
    background-color: $color-menu-1;
    .fa--top {
      font-size: 4rem;
      margin-top: 4rem;
    }
    .fa--bottom {
      font-size: 2.5rem;
      margin-top: 4rem; 
    }
  }
}

h4 {
  margin-top: 0;
  text-align: center;
  font-size: 2em;
}
