.menu {
  @include menu-format;
  &.menu--4 {
    background-color: $color-menu-4;
    .menu__heading {
      font-size: $size-typo-heading-menu * 1.8;
      font-weight: normal;
      background: rgb(13, 145, 0);
      background: linear-gradient(
        135deg,
        rgba(13, 145, 0, 0.8155856092436975) 35%,
        rgba(33, 195, 14, 0.33939513305322133) 70%
      );
      @include gradient-text;
    }
    .menu__content {
      background: radial-gradient(
        circle,
        rgba(33, 195, 14, 0.33939513305322133) 21%,
        rgba(13, 145, 0, 0.8155856092436975) 65%
      );
      @include gradient-text;
    }
    .menu__text,
    span {
      background: rgba(0, 0, 0, 0.8);
      @include gradient-text;
    }
  }
}
